// Colors
$black: #000000;
$white: #fafafa;
$transparent-black: rgba(0, 0, 0, 0.8);
$transparent-blue: rgba(0, 80, 158, 0.8);
$french-blue: #0072BC;
$light-blue: #549CD6;

// Fonts
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -.5px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -.3px;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}

h3, h4, p, a, li, textarea, input {
    font-family: 'Roboto', sans-serif;
}

p, a, li, textarea, input {
    font-size: 12px;
    font-weight: initial;
    letter-spacing: .5px;
}