@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .mobile-bookmark {
    margin: 0;
  }
}
h1 {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

p, a, li, textarea, input {
  font-size: 14px;
  font-weight: initial;
  letter-spacing: 0.5px;
}

.desktop, .tablet {
  display: none;
}

.on-click {
  cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
}

body #root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.border-bottom {
  border-bottom: 4px solid;
}

button {
  padding: 10px 15px;
  border: 2px solid;
  text-transform: uppercase;
}

form {
  padding: 20px;
}
form span {
  color: #aaaaaa;
  font-style: italic;
}
form > * {
  margin-bottom: 15px;
}
form label h3 {
  margin-bottom: 2px;
}
form input, form textarea {
  min-height: 30px;
  width: 100%;
  padding: 2px 5px 1px 10px;
  border: 1px solid #222222;
  border-radius: 5px;
  resize: none;
}
form textarea {
  padding: 5px 5px 10px 10px;
}

.loading {
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 35px;
}
section.landing {
  text-align: center;
}
section.landing .image-div {
  min-height: 80px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
}
section.landing .text-div {
  min-height: 60px;
  padding: 20px 20px;
  text-align: center;
}
section.landing .text-div > * {
  margin-bottom: 15px;
}

.testimonials h2 {
  text-align: center;
}
.testimonials > * {
  margin-bottom: 15px;
}
.testimonials .testimonials-flex {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.testimonials .testimonials-flex > svg {
  flex-shrink: 0;
}
.testimonials .testimonials-flex p {
  display: inline-block;
}
.testimonials .testimonials-flex span p {
  display: inline;
}
.testimonials .testimonials-flex svg {
  height: 40px;
  width: 30px;
}
.testimonials .testimonial-author {
  text-align: right;
  margin-top: 15px;
  width: 100%;
  font-weight: bold;
}

.our-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.our-info svg {
  font-size: 16px;
}
.our-info .map-div > * {
  width: 100%;
  height: 500px;
}

header {
  height: 60px;
}

nav.mobile {
  height: 60px;
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
nav.mobile * {
  height: 100%;
  width: auto;
}

#mobile-menu {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#mobile-menu .mobile-menu-back {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
}
#mobile-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#mobile-menu ul.expanded {
  align-items: flex-start;
}
#mobile-menu ul a, #mobile-menu ul h2 {
  color: white;
  text-decoration: none;
}
#mobile-menu ul a:active, #mobile-menu ul a:hover, #mobile-menu ul a:focus, #mobile-menu ul h2:active, #mobile-menu ul h2:hover, #mobile-menu ul h2:focus {
  text-decoration: underline;
}
#mobile-menu ul a svg, #mobile-menu ul h2 svg {
  margin-right: 5px;
  margin-bottom: -3px;
}
#mobile-menu ul.services {
  gap: 20px;
}

.home.landing {
  padding: 0;
}
.home.landing .text-div {
  display: block;
  text-align: left;
}
.home.landing .text-div div > * {
  margin-bottom: 15px;
}
.home.landing .text-div div > *:last-child {
  margin-bottom: 0;
}
.home.landing .text-div button a {
  text-decoration: none;
}
.home.landing .text-div button a:active, .home.landing .text-div button a:hover, .home.landing .text-div button a:focus {
  text-decoration: underline;
}

.home.services {
  text-align: center;
}
.home.services > * {
  margin-bottom: 15px;
}
.home.services .services-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px 25px;
  width: 250px;
  margin: 0 auto;
}
.home.services .services-flex div {
  width: 100px;
  height: 100px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home.services .services-flex div > * {
  max-width: 85%;
}

.about.about-the-company {
  padding: 0 20px;
}
.about.about-the-company > * {
  margin-bottom: 15px;
}

.sitemap.sitemap-list {
  padding: 0 20px;
}
.sitemap.sitemap-list ul {
  margin: 10px 0;
  padding: 0 20px;
}
.sitemap.sitemap-list ul > * {
  margin-bottom: 10px;
}

.contact.contact-form {
  padding: 0 20px;
}
.contact.contact-form .contact-submit {
  text-align: right;
}
.contact.contact-form .response {
  text-align: center;
}

.service {
  padding: 0 20px;
  position: relative;
}
.service.landing {
  padding: 0;
}
.service.go-back-service-button {
  position: absolute;
  top: 0;
  left: 0;
}
.service.service-info {
  margin-bottom: 50px;
}
.service.service-info h2 {
  margin-top: 15px;
}
.service.service-info > * {
  margin-bottom: 15px;
}
.service.service-info > * > * {
  margin-bottom: 15px;
}
.service.service-info > * > *:last-child() {
  margin-bottom: 0;
}
.service.service-info > * h3, .service.service-info > * svg {
  margin-bottom: 0;
}
.service.service-image img {
  max-width: 100%;
}
.service.service-testimonials h2 {
  margin-bottom: 10px;
}
.service.service-testimonials div p {
  margin-bottom: 10px;
}
.service.service-testimonials div p:last-child {
  margin-bottom: 0;
}
.service .testimonial-author {
  text-align: right;
}
.service.page-buttons {
  height: 40px;
  width: 100%;
  padding: 0 50px;
}
.service.page-buttons div {
  display: flex;
  justify-content: space-between;
}
.service.page-buttons div svg {
  margin-bottom: -3px;
}
.service.page-buttons .prev-button {
  text-align: left;
}
.service.page-buttons .next-button {
  text-align: right;
}

footer {
  padding: 25px;
  position: relative;
  border-top: 4px solid;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
}
footer a:active, footer a:hover, footer a:focus {
  text-decoration: underline;
}
footer p.copyright {
  width: 100%;
  text-align: center;
}
footer .footer-back-button {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer-back-button svg {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  p, a, li, textarea, input {
    font-size: 16px;
  }
  .tablet {
    display: inline-block;
  }
  section.landing .text-div {
    padding: 10px 50px 0;
  }
  section.landing.about, section.landing.contact, section.landing.sitemap, section.landing.service {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  section.landing.about .text-div, section.landing.contact .text-div, section.landing.sitemap .text-div, section.landing.service .text-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 80px 0 20px;
  }
  .testimonials .testimonials-flex {
    padding: 0 50px;
  }
  .testimonials .testimonials-flex svg {
    height: 40px;
    width: 30px;
    margin: -5px;
  }
  .our-info .map-div {
    width: 90%;
  }
  header {
    height: 70px;
  }
  nav.mobile {
    height: 70px;
  }
  #mobile-menu .mobile-menu-back {
    height: 46px;
    width: 46px;
  }
  .home.landing .text-div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home.services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home.services .services-flex {
    padding: 20px;
    width: 500px;
  }
  .home.services .services-flex div {
    width: 200px;
    height: 200px;
  }
  .about.about-the-company {
    padding: 0 50px;
  }
  .sitemap.sitemap-list {
    padding: 0 50px;
  }
  .service {
    padding: 0 50px;
  }
}
@media screen and (min-width: 950px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none !important;
  }
  section.landing .text-div {
    padding: 10px 200px 0;
  }
  section.landing.home .image-div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section.landing.about, section.landing.contact, section.landing.sitemap, section.landing.service {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .testimonials .testimonials-flex {
    margin-top: -10px;
    min-height: 150px;
    padding: 0 100px;
  }
  header {
    height: 80px;
  }
  nav.desktop {
    height: 80px;
    width: 100%;
    padding: 10px 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  nav.desktop ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  nav.desktop ul svg {
    margin-left: 2px;
    margin-bottom: -3px;
  }
  nav.desktop ul a {
    text-decoration: none;
  }
  nav.desktop ul a:active, nav.desktop ul a:hover, nav.desktop ul a:focus {
    text-decoration: underline;
  }
  .dropdown-container {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 100;
    width: 550px;
    height: auto;
    padding: 10px 20px;
  }
  .dropdown-container ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px 25px;
  }
  .dropdown-container ul a {
    text-decoration: none;
  }
  .dropdown-container ul a:active, .dropdown-container ul a:hover, .dropdown-container ul a:focus {
    text-decoration: underline;
  }
  .dropdown-container ul li {
    width: 30%;
  }
  .dropdown-container ul li p {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dropdown-container ul li p span {
    flex: 1 1 auto;
    word-wrap: break-word;
    max-width: calc(100% - 30px);
  }
  .dropdown-container ul li p svg {
    margin-right: 5px;
    margin-bottom: -3px;
    flex: 0 0 auto;
  }
  .home.services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home.services .services-flex {
    padding: 20px 0;
    width: 750px;
    gap: 20px 50px;
  }
  .home.services .services-flex div {
    width: 200px;
    height: 200px;
  }
  .about.about-the-company {
    padding: 0 200px;
  }
  .sitemap.sitemap-list {
    padding: 0 200px;
  }
  .contact.contact-form {
    margin: 0 auto;
    max-width: 70%;
  }
  .service {
    padding: 0 200px;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonials-flex {
    padding: 0 250px;
  }
  .about.about-the-company {
    padding: 0 300px;
  }
  .sitemap.sitemap-list {
    padding: 0 300px;
  }
  .contact.contact-form {
    margin-bottom: 50px;
  }
  .contact.contact-form form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "greeting greeting" "name email" "subject subject" "message message" "button button" "response response";
    gap: 15px;
  }
  .contact.contact-form form .contact-form-greeting {
    grid-area: greeting;
  }
  .contact.contact-form form .contact-form-name {
    grid-area: name;
  }
  .contact.contact-form form .contact-form-email {
    grid-area: email;
  }
  .contact.contact-form form .contact-form-subject {
    grid-area: subject;
  }
  .contact.contact-form form .contact-form-message {
    grid-area: message;
  }
  .contact.contact-form form .contact-submit {
    grid-area: button;
  }
  .contact.contact-form form .response {
    grid-area: response;
  }
  .service-api-call {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }
  .service-api-call > * {
    padding: 0;
  }
  .service-api-call .service-info {
    margin: 0;
  }
  .service-api-call .service-image {
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}